<!DOCTYPE html>
<html lang="en">

<style>
    ul{
        display: table;
        margin: auto;
    }
    img{
        display: table;
        margin: auto;
    }
    h1{
        font-family: Poppins;
        text-align: center;
    }
    h2{
        font-family: Poppins;
        background-color: burlywood;
        text-align: center;
    }
    li{
        font-family: Roboto;
    }
    table{
         font-family: Roboto, sans-serif ; margin-left: auto; margin-right: auto
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>

<body style="background-color: antiquewhite ; text-align-all: center ; border-width: 5px ; border-style: solid"  >
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>

    <img src="{{ foto }}" style="width: 200px; height: 300px; border-style: dashed;">

    <table>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>:</td>
            <td>{{ npm }}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>:</td>
            <td>{{ age }}</td>
        </tr>
        <tr>
            <td>Organization</td>
            <td>:</td>
            <td>{{ org }}</td>
        </tr>
    </table>



    <div style="text-align: center;">
        {% for line in desc %}
            <p style="line-height: 50%; font-family: Roboto">{{ line }}</p>
        {% endfor %}
    </div>



    <h2 style="font-family: Poppins; text-align: center">Interests:</h2>
    <div>
        <ul>
            {% for hobby in hobbies %}
                <li>{{ hobby }}</li>
            {% endfor %}
        </ul>
    </div>


    <h2 style="text-align: center; font-family: Poppins">Education History</h2>
    <div style="font-family: Roboto">
        <table style="margin-left: auto; margin-right: auto">
            {% for row in edu %}
               <tr>
                   {% for item in row %}
                       <td>{{ item }}</td>
                   {% endfor %}
               </tr>
            {% endfor %}
        </table>
    </div>



    <h2>Contact</h2>
    <div>
        <table>
            <tr>
                <td>
                    <a href={{ linkedin }}>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/900px-LinkedIn_logo_initials.png" style="width: 50px; height: 50px">
                    </a>
                </td>
                <td>
                    <a href={{ instagram }}>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/600px-Instagram_logo_2016.svg.png" style="width: 50px; height: 50px">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
